<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Price Prediction</title>
  <link rel="stylesheet" href="style.css">  </head>
<body>
  <header>
    <h1>Fly Smart, Predict Your Flight!</h1>
    <img src="flight.jpg" alt="Image of a scenic airplane flight" width="500">
  </header>
  <nav>
    <a href="predict">Predict Your Flight Price</a>
  </nav>
  <main>
    <p>Welcome to the flight travel prediction tool. Here, you can leverage the power of machine learning to predict flight price for your upcoming flights. Get started by filling out the form on the next page.</p>
  </main>
</body>
</html>